---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: longhorn-{{ .Values.name }}-config-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 200Mi
